<!-- blog/templates/blog/post_detail.html -->
{% extends "base.html" %}

{% block content %}
  <h2>{{ object.title }}</h2>
  <p>{{ object.content }}</p>
  <p>Published on: {{ object.published_date }}</p>
  <a href="{% url 'post_update' object.pk %}">Edit</a>
  <a href="{% url 'post_delete' object.pk %}">Delete</a>
  <a href="{% url 'post_list' %}">Back to List</a>

  <h3>Comments:</h3>
  <ul>
    {% for comment in object.comments.all %}
      <li>
        <p>{{ comment.content }}</p>
        <p>Comment by {{ comment.author }} on {{ comment.created_at }}</p>
        {% if comment.author == user %}
          <a href="{% url 'edit_comment' comment.pk %}">Edit</a>
          <a href="{% url 'delete_comment' comment.pk %}">Delete</a>
        {% endif %}
      </li>
    {% empty %}
      <p>No comments yet.</p>
    {% endfor %}
  </ul>

  <h3>Add a Comment:</h3>
  <a href="{% url 'add_comment' object.pk %}">Add Comment</a>
{% endblock %}

